In [ ]:
import sqlite3
from sqlite3 import Error

In [25]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)       
    query1 = """
        SELECT *
FROM (

SELECT sub1.facility, SUM( sub1.revenue ) AS total_revenue
FROM (

SELECT f.name AS facility,
CASE WHEN b.memid =0
THEN b.slots * guestcost
ELSE b.slots * membercost
END AS revenue
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid = f.facid
) AS sub1
GROUP BY sub1.facility
)sub2
WHERE sub2.total_revenue <1000
ORDER BY total_revenue
        """
    
    query2 = """
SELECT (m1.surname || ',' || m1.firstname) AS member, (m2.surname || ',' || m2.firstname) AS recommend_by_name
FROM Members AS m2
LEFT JOIN Members AS m1 ON m2.memid = m1.recommendedby
WHERE m1.recommendedby !=0
ORDER BY member
        """

    query3 = """
SELECT name AS facility, COUNT( memid ) AS usage_by_members
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid = f.facid
WHERE b.memid !=0
GROUP BY facility
  """
    query4 = """
    SELECT name AS facilities,
    strftime('%m', starttime) AS month,
    COUNT(memid) AS monthly_usage
    FROM Bookings AS b
    INNER JOIN Facilities as f
    USING (facid)
    WHERE memid <> 0
    GROUP BY facid, month
"""
    
    with conn: 
        print("2. Query all tasks")
        print("""Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that theres a different cost for guests and members!""")
        select_all_tasks(conn, query1)
        print("""Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order""")
        select_all_tasks(conn,query2 )
        print("""Q12: Find the facilities with their usage by member, but not guests""")
        select_all_tasks(conn,query3 )
        print("""Q13: Find the facilities usage by month, but not guests""")
        select_all_tasks(conn,query4 )
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that theres a different cost for guests and members!
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
('Bader,Florence', 'Stibbons,Ponder')
('Baker,Anne', 'Stibbons,Ponder')
('Baker,Timothy', 'Farrell,Jemima')
('Boothe,Tim', 'Rownam,Tim')
('Butters,Gerald', 'Smith,Darren')
('Coplin,Joan', 'Baker,Timothy')
('Crumpet,Erica', 'Smith,Tracy')
('Dare,Nancy', 'Joplette,Janice')
('Genting,Matthew', 'Butters,Gerald')
('Hunt,John', 'Purview,Millicent')
('Jones,David', 'Joplette,Janice')
('Jones,Douglas', 'Jones,David')
('Joplette,Janice', 'Smith,Darren')
('Mackenzie,Anna', 'Smith,Darren')
('Owen,Charles', 'Smith,Darren')
('Pinker,David', 'Farrell,Jemima')
('Purview,Millicent', 'Smith,Tracy')
('Rumney,Henrietta', 'Genting,Matthew')
('Sarwin,Ramnaresh', 'Bader,Florence')
('Smith,Jack', 'Smith,Darren')
('Stibbons,Ponder', 'Tracy,Burton')
('Worthington-Smyth,Henry', 'Smith,Tracy')
Q12: Find the facilities with their usage by member, but not guests
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
Q13: Find the facilities usage by month, but not guests
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)